<?xml version="1.0"?>
<config>
    <modules>
        <VS7_Canonical>
            <version>0.2.0</version>
        </VS7_Canonical>
    </modules>
    <global>
        <models>
            <vs7_canonical>
                <class>VS7_Canonical_Model</class>
                <resourceModel>vs7_canonical_resource</resourceModel>
            </vs7_canonical>
            <vs7_canonical_resource>
                <class>VS7_Canonical_Model_Resource</class>
                <entities>
                    <canonical>
                        <table>vs7_canonical</table>
                    </canonical>
                </entities>
            </vs7_canonical_resource>
        </models>
        <resources>
            <vs7_canonical_setup>
                <setup>
                    <module>VS7_Canonical</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_canonical_setup>
            <vs7_canonical_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_canonical_write>
            <vs7_canonical_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_canonical_read>
        </resources>
        <helpers>
            <vs7_canonical>
                <class>VS7_Canonical_Helper</class>
            </vs7_canonical>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <vs7_canonical>
                        <type>singleton</type>
                        <class>VS7_Canonical_Model_Observer</class>
                        <method>addCanonicalRel</method>
                    </vs7_canonical>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <default>
        <vs7_canonical>
            <canonical_settings>
                <https>1</https>
                <params>p</params>
            </canonical_settings>
        </vs7_canonical>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_canonical>
                                            <title>VS7 Canonical</title>
                                        </vs7_canonical>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <vs7_canonical_addfield>
                        <class>VS7_Canonical_Model_Observer</class>
                        <method>addField</method>
                    </vs7_canonical_addfield>
                </observers>
            </adminhtml_block_html_before>
            <model_save_after>
                <observers>
                    <vs7_canonical_save>
                        <class>VS7_Canonical_Model_Observer</class>
                        <method>saveCanonical</method>
                    </vs7_canonical_save>
                </observers>
            </model_save_after>
        </events>
    </adminhtml>
</config>